html {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  font-size: 62.5%;
}

canvas {
  width: 100%;
  height: 100%;
}

body {
  margin:auto;
  color: #606c76;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .01em;
  width: 80%;
  height: 650px;
}

.header {
  color :white;
  width:100%;
  background-color: #55b6b7;
  /*background-image: url("img/login-background.jpg");*/
  text-align: center;
  height: 10%;
  font-size: 50px;
}

.container{
  margin:10px;
  padding: 5px;
  background-color: #e5ddd5;
  width: 100%;
  height: 100%;
}

.chat_box{
  float:right;
  width: 20%;
  height: 90%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.enviroment{
  float:left;
  width:80%;
  height: 90%;
}
.Tools{
  width: 100%;
  height:10%;
}
.world{
  width: 100%;
  height: 90%;
}
.msg{
  height: 90%;
  overflow: auto;
  background-image: url("img/chat-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;


}
.user_container{
  float: left;
  width:20%;
  height: 90%;
  background-color: #EEEEEE;
}

.type-area{
  float:right;
  width: 100%;
  height: 10%;
  background-color: #EEEEEE;
}


.msg_user{
  float:left;
  margin:5px;
  padding:10px;
  max-width: 70%;
  word-wrap: break-word;
  display: inline-block;
  clear:both;
  text-align: left;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.msg_me{
  float: right;
  margin:5px;
  padding:10px;
  max-width: 70%;
  word-wrap: break-word;
  display: inline-block;
  clear:both;
  text-align: right;
  background-color: #dcf8c6;
  border-radius:10px;

}

.msg_notif{
  float: left;
  text-align: center;
  width: 91%; 
  /*display: inline-block;*/
  /*clear:both;*/
  background-color: #e1f3fb;
  padding:10px;
  border-radius:10px;
  margin:5px;

}

.msg_user_Username{
  float:left;
  margin-left:8px;
  display: inline-block;
  clear:both;
  text-align: left;
  font-style: italic;
  font-size: 90%;
  padding: 5px;
  border-radius: 10px;
}

.msg_me_Username{
  float: right;
  margin-right:8px;
  word-wrap: break-word;
  display: inline-block;
  clear:both;
  font-size: 90%;
  padding: 5px;
  text-align: right;
  font-style: italic;
  border-radius:10px;
}

p{
  text-align: center;
}

input{
  width: 80%;
  padding:10px;
}



button {
  background-color:#4CAF50;
  color: white;
  text-align: center;
  font-size:20px;
  width: 10%;
  height: 40px;
  border: none;
  display: inline-block;
  margin-top:2px;
  padding: 7px 10px;;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -6px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 13px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

h1 {
  font-family: Helvetica;
  font-weight: normal; /*normal, bold, etc*/
  font-size: 2.5em; 
  letter-spacing: 1px;
  word-spacing: 10px;
  text-shadow: 1px 2px Silver;
  text-align: center;
  color: black;
}

h2 {
  font-family: Helvetica;
  font-weight: normal; /*bold, etc*/
  /*font-size: 1em; */
  /*letter-spacing: 1px;*/
  /*word-spacing: 10px;*/
  /*text-shadow: 1px 2px Silver;*/
  /*text-align: center;*/
  color: black;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
  color: white;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
}


.loggin{
  margin:10px;
  padding: 5px;
  background-image: url("img/login-background.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.in_un{
  width:50%;
}
.login_btn{
  width:51.8%;
  background-color: darkgreen;
  border: none;
  color: white;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.login_btn:hover {opacity: 1}

.input_container{
  text-align: center;
  padding:1px;
}

.send_btn {
position: absolute;
top: 494px;
left: 670px;
height: 35px;
width: 120px;
}

.sd_msg {

left: 10px;
margin-top:15px;
  /*margin-top:  1px;*/
}

/*Button to change ChatRoom*/
.changeCR_btn {
  color: white;
  background-color: gray;
  margin:auto;
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}

/*Button to change UserName*/
.changeUN_btn {
  color: white;
  background-color: gray;
  margin:auto;
  width: 100%;
  height: auto;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}
.btn{
  cursor: pointer;
}

.user_avatar{
  max-width: 100px;
  margin:10px;
  margin-left: 47px;
}

.avatar {
  cursor:pointer;
}

.user_ID{
  height:30%;
}
.users_connected{
  height: 50%
}
.user_edition{
  height: 20%;
  text-align: center;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  text-align: center;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.friend_avatar{
  width: 15%;
  float: left;
}
.friend_id{
  text-align: left;
}
.number_of_users{
  height: 10%;
  text-align: center;
  margin:10px;
  border-bottom: solid;
}
.users_box{
  height: 80%;
  overflow: auto;
}

.friend{
  margin: 10px;
  border-bottom: solid;
}


select#gender option[value="user"]   { background-image:url(img/user.jpg);   }
select#gender option[value="man"] { background-image:url(img/man.jpg); }
select#gender option[value="girl"] { background-image:url(img/girl.jpg); }



